<div class="row">
    <div class="col-md-12">
        <h2>Hello, You're using ThoTran Backend Solution</h2>
        <p>This Solution base on:
        - ASP.NET MVC 5
        - Entity Framework 6
        - AutoFac MVC
        - Unit Of Work Pattern
        - Repository Pattern
        - Wrapper Pattern
        - Multi language support</p>        
    </div>    
</div>
