<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.$safeprojectname$.WebPages.Razor.Configuration.RazorWebSectionGroup, System.$safeprojectname$.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.$safeprojectname$.WebPages.Razor.Configuration.HostSection, System.$safeprojectname$.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.$safeprojectname$.WebPages.Razor.Configuration.RazorPagesSection, System.$safeprojectname$.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.$safeprojectname$.Mvc.MvcWebRazorHostFactory, System.$safeprojectname$.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.$safeprojectname$.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.$safeprojectname$.Mvc" />
        <add namespace="System.$safeprojectname$.Mvc.Ajax" />
        <add namespace="System.$safeprojectname$.Mvc.Html" />
        <add namespace="System.$safeprojectname$.Routing" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Net.Http, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.$safeprojectname$.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
